@using ERP.BlazorUI.Components
@inherits LayoutComponentBase

<MyMudThemeProvider />

<div class="page mud-layout">
    <div class="sidebar mud-elevation-1">
        <div class="top-row mud-drawer-head">
            <div>
                <p class="navbar-brand">Faculty of Engineering</p>
            </div>
        </div>

        <input type="checkbox" title="Navigation menu" class="navbar-toggler" />
        <div class="navbar-toggler" role="button" aria-label="Toggle navigation" onclick="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </div>

        <div class="nav-scrollable" onclick="toggleNavbar()">
            <NavMenu />
        </div>
    </div>

    <main>
        <div class="top-row px-4">
            <MudIconButton Icon="@Icons.Material.Filled.Home" Style="color: white;" />
            <MudIconButton Icon="@Icons.Material.Filled.AccountBox" Style="color: white;" />
        </div>

        <MudContainer Class="my-2 pt-2">
            @Body
        </MudContainer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script>
    function saveAsFile(fileName, byteBase64) {
        var link = document.createElement('a');
        link.href = 'data:application/octet-stream;base64,' + byteBase64;
        link.download = fileName;
        link.click();
    }
</script>

@code {
    private bool IsNavbarCollapsed { get; set; } = true;

    private void toggleNavbar()
    {
        IsNavbarCollapsed = !IsNavbarCollapsed;
    }
}



