

<MudContainer>
    <h3 class="text-center mb-4">Lab Scheduling Page</h3>

    <MudExpansionPanels DisableBorders="true" Elevation="0">

        <MudExpansionPanel Text="Lab Selection" Class="pa-1">
            Panel One Content
        </MudExpansionPanel>

        <MudExpansionPanel Text="Lab Group Selection" Class="pa-1">
            Panel Two Content
        </MudExpansionPanel>

        <MudExpansionPanel Text="Lab Space Selection" Class="pa-1">
            Panel Three Content
        </MudExpansionPanel>

        <MudExpansionPanel Text="Lab Date Selection" Class="pa-1">
            Panel Three Content
        </MudExpansionPanel>

        <MudExpansionPanel Text="Lab Equipment Selection" Class="pa-1"> 
            Panel Three Content
        </MudExpansionPanel>

        <MudExpansionPanel Text="Lab Instructor Selection" Class="pa-1">
            Panel Three Content
        </MudExpansionPanel>

    </MudExpansionPanels>
</MudContainer>

@code {

}
