
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize(Roles = "Coordinator")]
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Admin Dashboard</h3>
<p>Only accessible by Admins.</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.IsInRole("Coordinator"))
        {
            Navigation.NavigateTo("/unAuthorize");
        }
    }
}
