@using ERP_WorkLoadManagement.DTOs.Works.Response
@using System.Net.Http.Json
@using MudBlazor

<TitleContent>
		<MudText Typo="Typo.h6">
			<MudIcon Icon="@Icons.Material.Filled.Search" Class="mr-3 mb-n1" />
			Filter Works
		</MudText>
</TitleContent>

@if (_work.Count > 0)
{
    <MudDataGrid Items="_work" Filterable="true" Bordered="true" Dense="true">
        <Columns>
            <PropertyColumn Property="x => x.WorkCode" Title="Code" />
            <PropertyColumn Property="x => x.WorkName" Title="Work Name" />
            <PropertyColumn Property="x => x.WorkType" Title="Work Type" />
            <PropertyColumn Property="x => x.Description" Title="Description of Work" />

        </Columns>

        <PagerContent>
            <MudDataGridPager />
        </PagerContent>
    </MudDataGrid>

    <div style="margin-top: 20px;">

        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Generate Report</MudButton>
    </div>
}
else
{
    <p>No Works to Show</p>
}




@code {
    private HttpClient Http = new HttpClient();

    private List<GetWorkResponse> _work = new List<GetWorkResponse>();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            _work = await Http.GetFromJsonAsync<List<GetWorkResponse>>("https://localhost:7012/api/Work/Get");
        }
        catch (Exception ex)
        {
            _work = null;
        }
    }
}
